<% provide(:class_text, 'task--new') %>
<% provide(:button_text, '作成') %>
<h3>タスク一覧</h3>

<h4 style="display:inline;">To Do リスト</h4><h5 style="display:inline;"><%= "<STEP#{@step.order}>完了まであと#{@tasks.count}件" %><%= "(#{@step.completed_tasks_rate}%)" %></h5>
<br>
<br>

<table>
  <tbody>
    <%= form_with(model: @tasks, url: add_delete_list_task_path(@step), local: true, method: :patch) do |f| %>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= f.check_box(:delete_task, { multiple: true, class: "check_box"}, checked_value = "true", unchecked_value = "false") %></td>
          <td><%= link_to "#{task.name}", task_path(task) %></td>
          <td><%= l(Time.parse(task.scheduled_complete_date), format: :shortdate) %></td>
          <td><%= link_to '中止', add_canceled_list_task_path(task), method: :patch, data: { confirm: "「#{task.name}」を中止リストに移動してよろ>しいですか？" } %></td>
          <td><%= link_to '削除', task_path(task), method: :delete, data: { confirm: "「#{task.name}」を削除してよろしいですか？" } %></td>
        </tr>
      <% end %>
      <tr>
        <td>
          <%= f.submit "済にする", {disabled: @tasks.blank? ? true : false} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @user == current_user %>
  <!-- 入力フォーム -->

  <%= form_with(model: @task, url: step_tasks_path(step_id: @step), method: :post, local: true) do |f| %>

    <%= render 'devise/shared/error_messages', resource: @task %>

    <div class="row">
      <div class="col-2">
        <div class="form-group">
          <%= f.label :name, class: "label-#{yield(:class_text)}"%>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <%= f.label :scheduled_complete_date, class: "label-#{yield(:class_text)}" %>
          <%= f.date_field :scheduled_complete_date, class: 'form-control' %>
        </div>
      </div>

      <div class="col-2 align-self-end">
        <div class="form-group">
          <%= f.submit yield(:button_text), class: "btn-#{yield(:class_text)}" %>
        </div>
      </div>

    </div>

  <% end %>

<% end %>

<!--p>済 リスト</p-->
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><h4 style="display:inline;">済 リスト</h4></a>
        <h5 style="display:inline;"><%= "(#{@completed_tasks.count}件)" %></h5>
      </p>
    </div>
    <div id="collapse3" class="panel-collapse collapse in">
      <div class="panel-body">
        <!--p>済 リスト</p-->
        <table>
          <tbody>
            <% @completed_tasks.each do |task| %>
              <tr>
                <td><%= link_to "#{task.name}", task_path(task) %></td>
                <td><%= l(Time.parse(task.completed_date), format: :shortdate) %></td>
                <td><%= link_to '削除', task_path(task), method: :delete, data: { confirm: "「#{task.name}」を削除してよろしいですか？" } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><h4 style="display:inline;">中止 リスト</h4></a>
        <h5 style="display:inline;"><%= "(#{@canceled_tasks.count}件)" %></h5>
      </p>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <!--p>中止 リスト</p-->
        <table>
          <tbody>
            <% @canceled_tasks.each do |task| %>
              <tr>
                <td><%= link_to "#{task.name}", task_path(task) %></td>
                <td><%= l(Time.parse(task.canceled_date), format: :shortdate) %></td>
                <td><%= link_to '復活', edit_revive_from_canceled_list_task_path(task), data: { confirm: "「#{task.name}」を復活してよろしいですか？"} %>
                <td><%= link_to '削除', task_path(task), method: :delete, data: { confirm: "「#{task.name}」を削除してよろしいですか？" } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>            
