<% provide(:class_text, 'task--edit') %>
<% provide(:button_text, '更新') %>
<h1>タスク編集</h1>
<%= form_with(model: @task, url: task_path(@task), method: :patch, local: true) do |f| %>

  <%= render 'devise/shared/error_messages', resource: @task %>
  <div>
    <%= f.label :name, class: "label-#{yield(:class_text)}" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :scheduled_complete_date, class: "label-#{yield(:class_text)}" %>
    <% if @task.scheduled_complete_date.present? %>
      <%= f.date_field :scheduled_complete_date, value: Date.parse(@task.scheduled_complete_date) %>
    <% else %>
      <%= f.date_field :scheduled_complete_date %>
    <% end %>
  </div>
  <div>
    <%= f.submit yield(:button_text), class: "btn-#{yield(:class_text)}" %>
  </div>
  <%= f.hidden_field :step_id, class: "form-control", value: @step.id %>

<% end %>
<!-- steps#showに戻る -->
<%= button_to '戻る', step_path(@step), method: :get, class: "btn-#{yield(:class_text)}" %>
