<% provide(:class_text, 'task--edit_complete_or_continue_step') %>
<% provide(:button_text, '選択') %>

<h3>どちらか選択してください </h3>

<%= form_with(url: tasks_update_complete_or_continue_step_step_path(step_id: @step), method: :post, local: true) do |f| %>

  <%= f.radio_button :complete_or_continue, :completed , checked: 'checked' %>
  <%= f.label :complete_or_continue, "「完了」タスクのうち最も遅い完了日を、進捗の完了日とし、現在の進捗を「完了」とする", value: :completed %>
  <br>
  <%= f.radio_button :complete_or_continue, :continue %>
  <%= f.label :complete_or_continue, "この進捗にタスクを追加し、現在の進捗を「進捗中」とする", value: :continue %>
  <br>
　<%= f.submit yield(:button_text), class: "btn-#{yield(:class_text)}" %>
<% end %>

