<% provide(:title, 'New task') %>
<% provide(:class_text, 'task--new') %>
<% provide(:button_text, '作成') %>
<h1>タスク作成</h1>
<%= form_with(model: @task, url: step_tasks_path(@step), method: :post, local: true) do |f| %>

  <%= render 'devise/shared/error_messages', resource: @task %>

  <%= f.label :name, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :scheduled_complete_date, class: "label-#{yield(:class_text)}" %>
  <%= f.date_field :scheduled_complete_date, class: "form-control" %>

  <%= f.submit yield(:button_text), class: "btn-#{yield(:class_text)}" %>

<% end %>

<!-- steps#showに戻る -->
<%= button_to '戻る', step_path(@step), method: :get, class: "btn-#{yield(:class_text)}" %>
