<% form_url = (request.path_info.to_s == edit_other_user_registration_path(resource)) ? other_user_registration_path(resource): user_path(resource) %>
<%
  options = { url: form_url }
  options[:as] = resource_name if defined?(resource_name) && resource_name.present?
%>

<%= form_for(resource, options) do |f| %>

    <div class="field">
      <%= f.label :login_id %><br/>
      <% if current_user.admin? %>
        <%= f.text_field :login_id, autofocus: true, autocomplete: "login_id" %>
      <% else %>
        <%= resource.login_id %>
        <%= f.hidden_field :login_id, value: resource.login_id %>
      <% end %>
    </div>

  <div class="field">
    <%= f.label :name %><br/>
    <% if current_user.admin? %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    <% else %>
      <%= resource.name %>
      <%= f.hidden_field :name, value: resource.name %>
    <% end %>
  </div>

  <% if current_user.admin? %>
    <div class="field">
      <%= f.label :superior %><br/>
      <%= f.check_box :superior, autofocus: true, autocomplete: "superior" %>
    </div>

    <div class="field">
      <%= f.label :status %><br/>
      <%= f.select :status, User.statuses.keys.map { |k| [I18n.t("enums.user.status.#{k}"), k]}, autofocus: true, autocomplete: "status" %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :superior_id %><br/>
    <%= f.select :superior_id, superior_list(@users, @user), autofocus: true, autocomplete: "superior_id" %>
  </div>

  <div class="field">
    <%= f.label :notified_num %><br/>
    <%= f.number_field :notified_num, autofocus: true, in: 0..21, autocomplete: "notified_num" %>
  </div>

  <div class="field">
    <%= f.label :email %><br/>
    <% if !defined?(password_only) || !password_only %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br/>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %>
  </div>

  <% resource.new_record? ? required = true : required = false %>

  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
  <% if resource.persisted? && !current_user.admin? %>
    <div class="field">
      <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br/>
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>
