<%# 一般User作成form %>
<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  
  <div class="field">
    <%= f.label :login_id %><br/>
    <%= f.text_field :login_id, autofocus: true, autocomplete: "login_id" %>
  </div>

  <div class="field">
    <%= f.label :superior %><br/>
    <%= f.check_box :superior, autofocus: true, autocomplete: "superior" %>
  </div>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
  <%= f.hidden_field :company_id, autofocus: true, value: current_user.company_id %>
  <%= f.hidden_field :superior_id, autofocus: true, value: current_user.superior_id %>
<% end %>

<%= render "devise/shared/links" %>
