<% provide(:class_text, 'revive-from-canceled-list') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">完了予定日を入力してください</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @task, url: update_revive_from_canceled_list_task_path(@task), local: true, method: :patch) do |f| %>
            
            <%= render 'devise/shared/error_messages', resource: @task %>

            <%= f.label :name, class: "label-#{yield(:class_text)}" %>
            <p><%= @task.name %></p>

            <%= f.label :scheduled_complete_date, class: "label-#{yield(:class_text)}" %>
            <%= f.datetime_local_field :scheduled_complete_date, class: "form-control" %>

            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                キャンセル
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
