<% provide(:class_text, 'task--check-status-3') %>
<% provide(:button_text, '選択') %>

<h3>いづれか選択してください </h3>

<%= form_with(url: tasks_update_change_status_or_complete_task_step_path(step_id: @step), method: :post, local: true) do |f| %>

  <%= f.radio_button :change_status_or_complete_task, :not_yet , checked: 'checked' %>
  <%= f.label :change_status_or_complete_task, "現在の進捗を「未」にする", value: :not_yet %>
  <br>
  <%= f.radio_button :change_status_or_complete_task, :in_progress %>
  <%= f.label :change_status_or_complete_task, "現在の進捗を「進捗中」にする", value: :in_progress %>
  <br>
  <%= f.radio_button :change_status_or_complete_task, :inactive %>
  <%= f.label :change_status_or_complete_task, "現在の進捗を「保留」にする", value: :inactive %>
  <br>
  <%= f.radio_button :change_status_or_complete_task, :erase_all_not_yet %>
  <%= f.label :change_status_or_complete_task, "「未」のタスクをすべて「完了」にする", value: :erase_all_not_yet %>
  <br>
　<%= f.submit yield(:button_text), class: "btn-#{yield(:class_text)}" %>
<% end %>
