<% provide(:class_text, 'task--check-status-3') %>
<% provide(:button_text, '選択') %>

<h3>いづれか選択してください </h3>

<%= form_with(url: tasks_update_check_status_3_step_path(step_id: @step), method: :post, local: true) do |f| %>

  <%= f.radio_button :status_3, :not_yet , checked: 'checked' %>
  <%= f.label :status_3, "現在の進捗を「未」にする", value: :continue %>
  <br>
  <%= f.radio_button :status_3, :in_progress %>
  <%= f.label :status_3, "現在の進捗を「進捗中」にする", value: :delete %>
  <br>
  <%= f.radio_button :status_3, :inactive %>
  <%= f.label :status_3, "現在の進捗を「保留」にする", value: :continue %>
  <br>
  <%= f.radio_button :status_3, :erase_all_not_yet %>
  <%= f.label :status_3, "「未」のタスクをすべて「完了」にする", value: :delete %>
  <br>
　<%= f.submit yield(:button_text), class: "btn-#{yield(:class_text)}" %>
<% end %>
