<html>
  <% provide(:title, 'New task') %>
  <% provide(:class_text, 'task--new') %>
  <% provide(:button_text, '作成') %>
  <head>
    <title>マウスクリックで詳細表示</title>
  </head>
  <body>
    <h1>タスク一覧 </h1>
    <h3>To Do リスト</h3>
    <table>
      <tbody>
        <%= form_with(model: @tasks, url: tasks_update_add_delete_list_lead_step_path(@lead,@step), local: true, mothod: :post) do |f| %>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= f.check_box(:delete_task, { multiple: true, class: "check_box"}, checked_value = "true", unchecked_value = "false") %></td>
              <td><%= link_to "#{task.name}", lead_step_task_path(@lead, @step, task) %></td>
              <td><%= task.scheduled_complete_date %></td>
              <td><%= link_to '削除', lead_step_task_path(@lead, @step ,task), method: :delete, data: { confirm: "「#{task.name}」を削除してよろしいですか？" } %></td>
            </tr>
          <% end %>
          <tr>
            <td>
            <%= f.submit "更新" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= form_with(model: @task, url: lead_step_tasks_path(lead_id: @lead, step_id: @step), method: :post, local: true) do |f| %>
  
      <%= render partial: 'shared/error_messages' ,locals: {obj: @task} %>
  
      <div class="row">
        <div class="col-2">
          <div class="form-group">            
            <%= f.label :name, class: "label-#{yield(:class_text)}"%>
            <%= f.text_field :name, class: "form-control" %>          
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">  
            <%= f.label :scheduled_complete_date, class: "label-#{yield(:class_text)}" %>
            <%= f.datetime_local_field :scheduled_complete_date, class: 'form-control' %>
          </div>  
        </div> 

        <div class="col-2 align-self-end">
          <div class="form-group">        
            <%= f.submit yield(:button_text), class: "btn-#{yield(:class_text)}" %>
          </div>
        </div>

        <%= f.hidden_field :step_id, class: "form-control", value: @step.id %> 
      
      </div>
    
    <% end %>

    <h3>済 リスト</h3>
    <table>
      <tbody>
        <% @deleted_tasks_array.each do |task| %>
          <tr>
            <td><%= task.name %></td>
            <td><%= task.scheduled_complete_date %></td>
            <td><%= link_to '削除', lead_step_task_path(@lead, @step ,task), method: :delete, data: { confirm: "「#{task.name}」を削除してよろしいですか？" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <!--%= link_to '新規作成', new_lead_step_task_path(@lead,@step) %-->

  </body>
</html>

