<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
  <head>
    <title>マウスオーバーで詳細表示</title>
    <style type="text/css">
      .type1 {
        position:absolute;
        margin-top: -7px;
        font-size:12px;
        line-height:15px;
        width:1500px;
        clip:rect(0px 500px 15px 0px);
      }
      .type1:hover {
        background-color:#f5f5f5;
        clip:rect(0px 1500px 30px 0px);
      }
      .wTable tr td:nth-child(2) {
        width:300px;
      }
    </style>
  </head>
  <body>
    <h1>タスク一覧 </h1>
    <h3>To Do リスト</h3>
    <table class="wTable">
      <tbody>
        <% @tasks.each_with_index do |task, i| %>
          <tr>
            <td><input type="checkbox" name="Delete" id="delete_checkbox" /></td>
            <td>
              <div class="type1">
                <%= link_to "#{task.name}", edit_lead_step_task_path(@lead, @step, task) %>
                <br>
                進捗ID: <%= task.step_id %>, タスク名: <%= task.name %>, タスク詳細: <%= task.memo %>,
                タスクステータス: <%=task.status %>, 完了予定日: <%= task.scheduled_complete_date %>,
                完了日: <%= task.completed_date %>, 中止にした日: <%= task.canceled_date %>
              </div>
            </td>
            <td><%= task.scheduled_complete_date %></td>
            <td><%= link_to '削除', lead_step_task_path(@lead, @step ,task), method: :delete, data: { confirm: "「#{task.name}」を削除してよろしいですか？" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to '新規作成', new_lead_step_task_path(@lead,@step) %>

  </body>
</html>

