<h1>タスク一覧 </h1>

<table>
  <thead>
    <tr>
      <th>step_id</th>
      <th>name</th>
      <th>memo</th>
      <th>status</th>
      <th>scheduled_complete_date</th>
      <th>completed_date</th>
      <th>canceled_date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.step_id %></td>
        <td><%= task.name %></td>
        <td><%= task.memo %></td>
        <td><%= task.status %></td>
        <td><%= task.scheduled_complete_date %></td>
        <td><%= task.completed_date %></td>
        <td><%= task.canceled_date %></td>
        <td><%= link_to '一覧表示',lead_step_tasks_path(1,1) %></td>
        <td><%= link_to '編集', edit_lead_step_task_path(1,1,task.id) %></td>
        <td><%= link_to '削除', lead_step_task_path(1,1,task.id), method: :delete, data: { confirm: "「#{task.name}」を削除してよろしいですか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_lead_step_task_path(1,1) %>
