<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
  <% provide(:title, 'New task') %>
  <% provide(:class_text, 'task--new') %>
  <% provide(:button_text, '作成') %>
  <head>
    <title>マウスオーバーで詳細表示</title>
    <style type="text/css">
      .type1 {
        position:absolute;
        margin-top: -7px;
        font-size:12px;
        line-height:15px;
        width:1500px;
        clip:rect(0px 500px 15px 0px);
      }
      .type1:hover {
        background-color:#f5f5f5;
        clip:rect(0px 1500px 30px 0px);
      }
      .wTable tr td:nth-child(2) {
        width:300px;
      }
    </style>
  </head>
  <body>
    <h1>タスク一覧 </h1>
    <h3>To Do リスト</h3>
    <table class="wTable">
      <tbody>
        <% @tasks.each_with_index do |task, i| %>
          <tr>
            <td><input type="checkbox" name="Delete" id="delete_checkbox" /></td>
            <td>
              <div class="type1">
                <%= link_to "#{task.name}", edit_lead_step_task_path(@lead, @step, task) %>
                <br>
                進捗ID: <%= task.step_id %>, タスク名: <%= task.name %>, タスク詳細: <%= task.memo %>,
                タスクステータス: <%=task.status %>, 完了予定日: <%= task.scheduled_complete_date %>,
                完了日: <%= task.completed_date %>, 中止にした日: <%= task.canceled_date %>
              </div>
            </td>
            <td><%= task.scheduled_complete_date %></td>
            <td><%= link_to '削除', lead_step_task_path(@lead, @step ,task), method: :delete, data: { confirm: "「#{task.name}」を削除してよろしいですか？" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= form_with(model: @task, url: lead_step_tasks_path(lead_id: @lead, step_id: @step), method: :post, local: true) do |f| %>
  
      <%= render partial: 'shared/error_messages' ,locals: {obj: @task} %>
  
      <div class="row">
        <div class="col-2">
          <div class="form-group">            
            <%= f.label :name, class: "label-#{yield(:class_text)}"%>
            <%= f.text_field :name, class: "form-control" %>          
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">  
            <%= f.label :scheduled_complete_date, class: "label-#{yield(:class_text)}" %>
            <%= f.datetime_local_field :scheduled_complete_date, class: 'form-control' %>
          </div>  
        </div> 

        <div class="col-2 align-self-end">
          <div class="form-group">        
            <%= f.submit yield(:button_text), class: "btn-#{yield(:class_text)}" %>
          </div>
        </div>

        <%= f.hidden_field :step_id, class: "form-control", value: @step.id %> 
      
      </div>
    
    <% end %>

    <!--%= link_to '新規作成', new_lead_step_task_path(@lead,@step) %-->

  </body>
</html>

