<% provide(:title, 'New task') %>
<% provide(:class_text, 'task--new') %>
<% provide(:button_text, '作成') %>
<h1>タスク作成</h1>
<%= form_with(url: lead_step_tasks_path(@lead, @step), method: :post, local: true) do |f| %>
  <%= render 'shared/error_messages_task', object: @task %>

  <%= f.label :name, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :memo, class: "label-#{yield(:class_text)}" %>
  <%= f.text_area :memo, class: "form-control" %>

  <%= f.label :status, class: "label-#{yield(:class_text)}" %>
  <%= f.select :status, Task.statuses.keys.map{ |k| ["enums.task.status.#{k}", k] }, class: "form-control" %>

  <%= f.label :scheduled_complete_date, class: "label-#{yield(:class_text)}" %>
  <%= f.datetime_local_field :scheduled_complete_date, class: "form-control" %>

  <%= f.label :completed_date, class: "label-#{yield(:class_text)}" %>
  <%= f.datetime_local_field :completed_date, class: "form-control" %>

  <%= f.label :canceled_date, class: "label-#{yield(:class_text)}" %>
  <%= f.datetime_local_field :canceled_date, class: "form-control" %>


  <%= f.submit yield(:button_text), class: "btn-#{yield(:class_text)}" %>
<% end %>
