<p>
  <strong>Step_id:</strong>
  <%= @task.step_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @task.memo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Scheduled_complete_date:</strong>
  <%= @task.scheduled_complete_date %>
</p>

<p>
  <strong>Completed_date:</strong>
  <%= @task.completed_date %>
</p>

<p>
  <strong>Canceled_date</strong>
  <%= @task.canceled_date %>
</p>


<%= link_to '編集', edit_task_path(@task) %>

