<% if @create_notices_user_num.present? %>
  <h3>
    登録時通知
    <%= @create_notices_user_num.count %>人
    <%= @create_notices_total_count %>件
  </h3>
  <% @create_notices_list.each_with_index do |user_leads, i| %>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <div class="mb-0">
            <div>
              <%= user_name(user_leads.first.user_id) %>
              <span class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
                :<%= user_leads.count %>件
              </span>
            </div>
          </div>
        </div>
      </div>

      <div id="collapse<%= i %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <%= link_to "確認", notices_update_path(user_leads.first.user_id), method: :patch %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th width="5%">申込日</th>
                <th width="20%">部屋名:部屋番号</th>
                <th width="10%">お客様名</th>
                <th width="5%">詳細</th>
              </tr>
            </thead>
            <tbody>
              <% user_leads.each do |lead| %>
                <tr>
                  <td><%= l(Time.parse(lead.created_date), format: :shortdate) %></td>
                  <td><%= room_name_num(lead) %></td>
                  <td><%= lead.customer_name %></td>
                  <td><%= link_to "詳細", step_path(lead) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if @limit_change_notices_user_num.present? %>
  <h3>
    変更時通知
    <%= @limit_change_notices_user_num.count %>人
    <%= @limit_change_notices_total_count %>件
  </h3>
  <% @limit_change_notices_list.each do |user_leads| %>
    <h4><%= user_name(user_leads.first.user_id) %></h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th width="5%">申込日</th>
          <th width="20%">部屋名:部屋番号</th>
          <th width="10%">お客様名</th>
          <th width="30%">メモ</th>
          <th width="5%">詳細</th>
        </tr>
      </thead>
      <tbody>
        <% user_leads.each do |lead| %>
          <tr>
            <td><%= l(Time.parse(lead.created_date), format: :shortdate) %></td>
            <td><%= room_name_num(lead) %></td>
            <td><%= lead.customer_name %></td>
            <td><%= lead.memo %></td>
            <td><%= link_to "詳細", step_path(lead) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<% if @step_limit_notices_user_num.present? %>
  <h3>
    期限通知
    <%= @step_limit_notices_user_num.count %>人
    <%= @step_limit_notices_total_count %>件
  </h3>
  <% @step_limit_notices_list.each do |user_leads| %>
    <h4><%= user_name(user_leads.first.user_id) %></h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th width="5%">申込日</th>
          <th width="20%">部屋名:部屋番号</th>
          <th width="10%">お客様名</th>
          <th width="5%">詳細</th>
        </tr>
      </thead>
      <tbody>
        <% user_leads.each do |lead| %>
          <tr>
            <td><%= l(Time.parse(lead.created_date), format: :shortdate) %></td>
            <td><%= room_name_num(lead) %></td>
            <td><%= lead.customer_name %></td>
            <td><%= link_to "詳細", step_path(lead) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
