<h1>ユーザー一覧</h1>
<%= link_to "新規登録", new_user_path %>
<%= link_to "マイページ", current_user %>

<% @users.each do |user| %>
  <p>
    <%= user.name %>
    <%= link_to "変更", edit_other_user_registration_path(user) %>
    <%# deleteは単語入力で条件クリア %>
    <%= link_to "削除", user_path(user), method: :delete, data: { confirm: "「#{user.name}」を削除してもよろしいですか？" } %>
  </p>
<% end %>
