<h1>Users#show</h1>
<%= current_user.name %>

<%= link_to "ユーザー一覧", users_path %>

<%= link_to "ユーザー新規登録", new_user_path %>

<%= link_to "案件一覧", leads_path %>

<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom text-muted border-gray pb-2 mb-0">通知一覧</h6>
    <%# ↓今後デザイン改修予定 %>
    <%= link_to "通知詳細", notices_path(current_user) %>
    <% if @create_notices_list.present? %>
      <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">登録通知</strong>
          <%= @create_notices_user_num.count %>人: <%= @create_notices_total_count %>件
        </p>
      </div>
    <% end %>
    <% if @limit_change_notices_list.present? %>
      <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">変更時通知</strong>
          <%= @limit_change_notices_user_num.count %>人: <%= @limit_change_notices_total_count %>件
        </p>
      </div>
    <% end %>
    <% if @step_limit_notices_list.present? %>
      <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#eaff00"/><text x="50%" y="50%" fill="#eaff00" dy=".3em">32x32</text></svg>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">期限通知</strong>
          <%= @step_limit_notices_user_num.count %>人: <%= @step_limit_notices_total_count %>件
        </p>
      </div>
    <% end %>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-gray">
        <strong class="d-block text-gray-dark">自分の期限通知</strong>
        <%= @mystep_limit_notices.count %>件
      </p>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom text-muted border-gray pb-2 mb-0">
      担当案件
      <small class="d-block text-right mt-3">
        <%= link_to "新規作成", new_lead_path %>
      </small>
    </h6>
    <% if @myleads_in_progress.present? %>
      <% @myleads_in_progress.each do |lead| %>
        <div class="media text-muted pt-3">
          <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark"><%= room_name_num(lead) %></strong>
              <%= link_to "詳細", step_path(lead) %>
            </div>
            <span class="d-block">お客様名:  <%= lead.customer_name %>:  申込日:  <%= l(Time.parse(lead.created_date), format: :shortdate) %>日</span>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="media text-muted pt-3">
        <p>進捗中の案件はありません</p>
      </div>
    <% end %>
  </div>
</main>
