<h1>Users#show</h1>
<%= current_user.name %>

<%= link_to "ユーザー一覧", users_path %>

<%= link_to "ユーザー新規登録", new_user_path %>
<%= link_to "編集", edit_other_user_registration_path(current_user) %>

<%= link_to "案件一覧", leads_path %>

<%= link_to "ログアウト", destroy_user_session_path(params[:user_id]), method: :delete %>
