<% must = "＜入力必須＞" %>

<%= form_with(model: lead, local: true) do |form| %>
  <%= render 'devise/shared/error_messages', resource: lead %>
  
  <%= form.hidden_field :template_id, value: @template_lead.try(:id) %>

  担当者：<%= current_user.name %>

  <div class="field">
    <%= form.label :customer_name %><%= must %>
    <%= form.text_field :customer_name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :room_name %><%= must %>
    <%= form.text_field :room_name %>
  </div>

  <div class="field">
    <%= form.label :room_num %><%= must %>
    <%= form.text_field :room_num %>
  </div>

  <div class="field">
    <%= form.label :memo %><br>
    <%= form.text_area :memo, size: "50x3" %>
  </div>

----------------------------------------------------------------

  <% unless @lead.new_record? %>
    <div class="field">
      <%= form.label :status %>
      <%= form.select :status, Lead.statuses.keys.map { |k| [I18n.t("enums.lead.status.#{k}"), k]} %>
    </div>

    <%# date_selectを使うと「undefined method `day' for "":String」エラーになるため、date_fieldを使用中 %>
    <div class="field">
      <%= form.label :completed_date %>
      <%= form.date_field :completed_date, value: @lead.completed_date %><br>
       ↑ 終了済の案件の場合、入力必須
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :scheduled_resident_date %><%= must %>
    <%= form.date_field :scheduled_resident_date, value: modified_date(@lead.scheduled_resident_date, @template_lead.try(:scheduled_resident_date), @date_difference) %>
  </div>

  <div class="field">
    <%= form.label :scheduled_payment_date %><%= must %>
    <%= form.date_field :scheduled_payment_date, value: modified_date(@lead.scheduled_payment_date, @template_lead.try(:scheduled_payment_date), @date_difference) %>
  </div>

  <div class="field">
    <%= form.label :scheduled_contract_date %>
    <%= form.date_field :scheduled_contract_date, value: modified_date(@lead.scheduled_contract_date, @template_lead.try(:scheduled_contract_date), @date_difference) %>
  </div>

  <div class="field">
    <%= form.label :created_date %><%= must %>
    <% if @lead.new_record? %>
      <%= form.date_field :created_date, value: Date.current %>
    <% else %>
      <%= form.date_field :created_date, value: @lead.created_date %>
    <% end %>
  </div>

----------------------------------------------------------------

  <div class="field">
    <%= form.check_box :template %>←ステータスに関わらずテンプレートとして使用する。
  </div>

  <div class="field">
    <%= form.label :template_name %>
    <%= form.text_field :template_name %><br>
     ↑ ステータスがテンプレートまたはテンプレートにチェックで入力必須。
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
