<% provide(:title, 'Admin') %>

<p id="notice"><%= notice %></p>

<h1>Leads</h1>

<div class="container">
  <h1></h1>
  <h2></h2>
  <div class="row">
    <div class="col-md-3 col-md-offset-9">
      <%= form_with url: leads_path, method: :get, local: true do |f| %>
        <%= f.submit "検索結果をリセット（全表示）", class: "btn btn-primary btn-serch" %>
      <% end %>
    </div>
    <br>
    <div class="col-md-10 col-md-offset-1">
      <%#= will_paginate @users %>
      <table class="table table-hover" id="table-users">
        <thead>
          <tr>
            <th colspan="1">担当者名</th>
            <th colspan="1">物件名/部屋番号</th>
            <th colspan="1">お客様名
              <%= form_with url: leads_path, method: :get, local: true do |f| %>
                <div style="display:inline-flex">
                  <%= f.search_field :searchword, class: "form-control-serch", placeholder: "キーワードを入力...", value: params[:searchword] %>
                  <%= f.submit "絞る", class: "btn btn-primary btn-serch" %>
                </div>
              <% end %>
            </th>
            <th colspan="1">入居予定日</th>
            <th colspan="1">入金予定日</th>
            <th colspan="1">進捗状況</th>
            <th colspan="1"></th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @leads.each do |lead| %>
            <tr>
              <td><%= User.find(lead.user_id).name %></td>
              <td><%= "#{lead.room_name} / #{lead.room_num}号室" %></td>
              <td><%= lead.customer_name %></td>
              <td><%= lead.scheduled_resident_date %></td>
              <td><%= lead.scheduled_payment_date %></td>
              <td>
                <%= lead.status_i18n %><br>
                <%= lead.steps.find_by(status: "in_progress").name if lead.steps.find_by(status: "in_progress").present? %>
              </td>
              <td><%= link_to 'Show', lead %></td>
              <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%#= will_paginate @users %>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Created date</th>
      <th>Completed date</th>
      <th>Customer name</th>
      <th>Room name</th>
      <th>Room num</th>
      <th>Template</th>
      <th>Template name</th>
      <th>Memo</th>
      <th>Status</th>
      <th>Notice created</th>
      <th>Notice change limit</th>
      <th>Scheduled resident date</th>
      <th>Scheduled payment date</th>
      <th>Scheduled contract date</th>
      <th>Steps rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.user_id %></td>
        <td><%= lead.created_date %></td>
        <td><%= lead.completed_date %></td>
        <td><%= lead.customer_name %></td>
        <td><%= lead.room_name %></td>
        <td><%= lead.room_num %></td>
        <td><%= lead.template %></td>
        <td><%= lead.template_name %></td>
        <td><%= lead.memo %></td>
        <td><%= lead.status %></td>
        <td><%= lead.notice_created %></td>
        <td><%= lead.notice_change_limit %></td>
        <td><%= lead.scheduled_resident_date %></td>
        <td><%= lead.scheduled_payment_date %></td>
        <td><%= lead.scheduled_contract_date %></td>
        <td><%= lead.steps_rate %></td>
        <td><%= link_to 'Show', lead %></td>
        <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
        <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lead', new_lead_path %>
