<% provide(:title, 'Admin') %>

<p id="notice"><%= notice %></p>

<h1>Leads</h1>

<div class="container">
  <h1></h1>
  <h2></h2>
  <div class="row">
    <div class="col-md-3 col-md-offset-9">
      <%= form_with url: leads_path, method: :get, local: true do |f| %>
        <%= f.label "お客様名前検索", class: "label-serch" %>
        <div style="display:inline-flex">
          <%= f.search_field :searchword, class: "form-control-serch", placeholder: "キーワードを入力..." %>
          <%= f.submit "検索", class: "btn btn-primary btn-serch" %>
        </div>
      <% end %>
      <%= form_with url: leads_path, method: :get, local: true do |f| %>
        <%= f.submit "検索結果をリセット（全表示）", class: "btn btn-primary btn-serch" %>
      <% end %>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Created date</th>
      <th>Completed date</th>
      <th>Customer name</th>
      <th>Room name</th>
      <th>Room num</th>
      <th>Template</th>
      <th>Template name</th>
      <th>Memo</th>
      <th>Status</th>
      <th>Notice created</th>
      <th>Notice change limit</th>
      <th>Scheduled resident date</th>
      <th>Scheduled payment date</th>
      <th>Scheduled contract date</th>
      <th>Steps rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.user_id %></td>
        <td><%= lead.created_date %></td>
        <td><%= lead.completed_date %></td>
        <td><%= lead.customer_name %></td>
        <td><%= lead.room_name %></td>
        <td><%= lead.room_num %></td>
        <td><%= lead.template %></td>
        <td><%= lead.template_name %></td>
        <td><%= lead.memo %></td>
        <td><%= lead.status %></td>
        <td><%= lead.notice_created %></td>
        <td><%= lead.notice_change_limit %></td>
        <td><%= lead.scheduled_resident_date %></td>
        <td><%= lead.scheduled_payment_date %></td>
        <td><%= lead.scheduled_contract_date %></td>
        <td><%= lead.steps_rate %></td>
        <td><%= link_to 'Show', lead %></td>
        <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
        <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lead', new_lead_path %>
