<% must = "＜入力必須＞" %>

<%= form_with(model: lead, local: true) do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= lead.user_id %>
    <%= current_user.name %>
    <%#= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :customer_name %><%= must %>
    <%= form.text_field :customer_name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :room_name %><%= must %>
    <%= form.text_field :room_name %>
  </div>

  <div class="field">
    <%= form.label :room_num %><%= must %>
    <%= form.text_field :room_num %>
  </div>

  <div class="field">
    <%= form.label :memo %><br>
    <%= form.text_area :memo, size: "50x3" %>
  </div>

----------------------------------------------------------------

  <% unless @lead.new_record? %>
    <div class="field">
      <%= form.label :status %>
      <%= form.select :status, Lead.statuses.keys.map { |k| [I18n.t("enums.lead.status.#{k}"), k]} %>
    </div>

    <%# date_selectを使うと「undefined method `day' for "":String」エラーになるため、date_fieldを使用中 %>
    <div class="field">
      <%= form.label :completed_date %>
      <%= form.date_field :completed_date %><br>
       ※終了済の案件の場合、入力必須
    </div>
  <% end %>

  <div class="field">
    <%= form.label :scheduled_resident_date %><%= must %>
    <%= form.date_field :scheduled_resident_date %>
  </div>

  <div class="field">
    <%= form.label :scheduled_payment_date %><%= must %>
    <%= form.date_field :scheduled_payment_date %>
  </div>

  <div class="field">
    <%= form.label :scheduled_contract_date %>
    <%= form.date_field :scheduled_contract_date %>
  </div>

  <div class="field">
    <%= form.label :created_date %><%= must %>
    <% if @lead.new_record? %>
      <%= form.date_field :created_date, value: Date.current %>
    <% else %>
      <%= form.date_field :created_date %>
    <% end %>
  </div>

----------------------------------------------------------------

  <div class="field">
    <%= form.label :template %>
    <%= form.check_box :template %>←テンプレートにする場合はチェック
  </div>

  <div class="field">
    <%= form.label :template_name %>
    <%= form.text_field :template_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
