<p id="notice"><%= notice %></p>

<%= "あなたの案件です。" if @lead.user_id == current_user.id %>
<%= @lead.customer_name %>様→
<%= @lead.room_name %><%= @lead.room_num %>号室
（担当：<%= link_to "#{@user.name}", user_path(@user) %>）
<p>
  <strong>入居予定日:</strong>
  <%= @lead.scheduled_resident_date %>
</p>

<p>
  <strong>入金予定日:</strong>
  <%= @lead.scheduled_payment_date %>
</p>

<p>
  <strong>契約予定日:</strong>
  <%= @lead.scheduled_contract_date %>
</p>


<%= link_to "担当者を変更する", edit_user_id_lead_path(@lead) if current_user.superior? %>


<%= link_to 'Step-index', lead_steps_path(@lead) %> |
<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
<br>//////////////////////////////////////////////////////////////////////<br>
Current_userの情報：<br>
  <%= current_user.id %>-
  <%= current_user.login_id %><br>
  <%= current_user.name %><br>

<p>
  <strong>User:</strong>
  <%= @lead.user_id %>
</p>

<p>
  <strong>Created date:</strong>
  <%= @lead.created_date %>
</p>

<p>
  <strong>Completed date:</strong>
  <%= @lead.completed_date %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @lead.customer_name %>
</p>

<p>
  <strong>Room name:</strong>
  <%= @lead.room_name %>
</p>

<p>
  <strong>Room num:</strong>
  <%= @lead.room_num %>
</p>

<p>
  <strong>Template:</strong>
  <%= @lead.template %>
</p>

<p>
  <strong>Template name:</strong>
  <%= @lead.template_name %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @lead.memo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lead.status %>
</p>

<p>
  <strong>Notice created:</strong>
  <%= @lead.notice_created %>
</p>

<p>
  <strong>Notice change limit:</strong>
  <%= @lead.notice_change_limit %>
</p>

<p>
  <strong>Scheduled resident date:</strong>
  <%= @lead.scheduled_resident_date %>
</p>

<p>
  <strong>Scheduled payment date:</strong>
  <%= @lead.scheduled_payment_date %>
</p>

<p>
  <strong>Scheduled contract date:</strong>
  <%= @lead.scheduled_contract_date %>
</p>

<p>
  <strong>Steps rate:</strong>
  <%= @lead.steps_rate %>
</p>

