<h1>会社名編集</h1>

<%= form_with(model: company, local: true) do |form| %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %>
