<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company.status_i18n %>
</p>

<%= link_to '編集', edit_company_path(@company) %> |
<%= link_to '戻る', companies_path %>
