<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company.status_i18n %>
</p>

<p><%= link_to "管理者登録", new_user_registration_path %></p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
