<%= form_with(model: [lead, step], local: true) do |form| %>
  <%= render 'devise/shared/error_messages', resource: @step %>

  <div class="field">
    <%= form.label :name %>＜入力必須＞
    <%= form.text_field :name, autofocus: true %>
  </div>

  <% steps_count = @lead.steps.count %>
  <div class="field">
    <%= form.label :order %>＜入力必須＞
    <% if step.new_record? %>
      <% order_num = params[:order_num].present? ? params[:order_num].to_i : steps_count + 1 %>
      <%= form.number_field :order, min: 1, max: steps_count + 1, value: order_num %>
    <% else %>
      <%= form.number_field :order, min: 1, max: steps_count %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo, size: "50x3" %>
  </div>

----------------------------------------------------------------
  <%= form.hidden_field :start_lead_flag, value: true if @start_lead_flag %>

  <% if @completed_step.present? %>

    <%= form.hidden_field :completed_id, value: @completed_step.id %>

    <div class="field">
      <%= form.label :status %>：進捗中
      <%= form.hidden_field :status, value: "in_progress" %>
    </div>
  
    <div class="field">
      <%= form.label :scheduled_complete_date %>＜入力必須＞
      <%= form.date_field :scheduled_complete_date, value: step.scheduled_complete_date %>
    </div>
  
  <% else %>
  
    <div class="field">
      <%= form.label :status %>
      <%= form.select :status, Step.statuses.keys.map { |k| [I18n.t("enums.step.status.#{k}"), k]} %>
    </div>
  
    <div class="field">
      <%= form.label :scheduled_complete_date %>
      <%= form.date_field :scheduled_complete_date, value: step.scheduled_complete_date %><br>
      ↑ 進捗中の進捗の場合、入力必須<br>
    </div>
  
    <div class="field">
      <%= form.label :completed_date %>
      <%= form.date_field :completed_date, value: step.completed_date %><br>
      ↑ 完了済の進捗の場合、入力必須<br>
    </div>
    
  <% end %>
  <% if @step.tasks.not_yet.blank? %>
----------------------------------------------------------------<br>
    <br>   
    ↓進捗ステータスで「進捗中」、または「保留」を選んだ場合、タスク名、完了予定日は入力必須<br>
    ↓それ以外は、空欄可<br><br>
    <%= fields_for @task do |t| %>
      <%= render 'devise/shared/error_messages', resource: @task %>

      <div class="field">
        <%= t.label :name %>
        <%= t.text_field :name %><br>
        ↑ 入力必須<br>
      </div>
      <div class="field">
        <%= t.label :memo %>
        <%= t.text_area :memo, size: "50x3" %>
      </div>

      <%= t.hidden_field :status, value: "not_yet" %>

      <div class="field">
        <%= t.label :scheduled_complete_date %>
        <%= t.date_field :scheduled_complete_date %><br>
        ↑ 入力必須<br>
      </div>
      <div class="field">
        <%= t.label :completed_date %>
        <%= t.date_field :completed_date %><br>
      </div>

      <div class="field">
        <%= t.label :canceled_date %>
        <%= t.date_field :canceled_date %><br>
      </div>
    <% end %>
----------------------------------------------------------------<br>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
