<p id="notice"><%= notice %></p>

<h4><%= "#{@lead.customer_name} 様：「" %><%= link_to @lead.room_name, leads_path(room_searchword: @lead.room_name) %><%= "(#{@lead.room_num})」に入居予定" %></h4>
<h5>
  <%= "(担当：" %><%= link_to @user.name, leads_path(user_searchword: @user.id) %><%= "）" %>
  <%= "：あなたの案件です。" if @lead.user_id == current_user.id %>
  <%= link_to "：担当者を変更する", edit_user_id_lead_path(@lead) if current_user.superior? %>
</h5>

<h2 style="display:inline;"><%= "進捗率：#{@lead.steps_rate}%" %></h2>
<h2 style="display:inline;"><%= " (現在：<STEP#{working_step_in(@lead).order}> #{@lead.status?("in_progress") ? working_step_in(@lead).name : @lead.status_i18n})" %></h2>
<br>

<%= render 'leads/leads_statuses/start', lead: @lead, button_name: "再開" %>

<% arrow_mark = "▽" %>
<% flag_scheduled_resident_date = true %>
<% flag_scheduled_payment_date = true %>
<% flag_scheduled_contract_date = @lead.scheduled_contract_date.present? %>
<table>
  <tr>
    <td colspan="1"><%= l(Time.parse(@lead.created_date), format: :date) %><br><%= arrow_mark %></td>
    <% @steps.each do |step| %>
      <td>
        <% if flag_scheduled_resident_date && @lead.scheduled_resident_date < step.finish_date %>
          <br>入居<br><%= l(Time.parse(@lead.scheduled_resident_date), format: :shortdate) %><br><%= arrow_mark %>
          <% flag_scheduled_resident_date = false %>
        <% end %>
        <% if flag_scheduled_payment_date && @lead.scheduled_payment_date < step.finish_date %>
          <br>入金<br><%= l(Time.parse(@lead.scheduled_payment_date), format: :shortdate) %><br><%= arrow_mark %>
          <% flag_scheduled_payment_date = false %>
        <% end %>
        <% if flag_scheduled_contract_date && @lead.scheduled_contract_date < step.finish_date %>
          <br>契約<br><%= l(Time.parse(@lead.scheduled_contract_date), format: :shortdate) %><br><%= arrow_mark %>
          <% flag_scheduled_contract_date = false %>
        <% end %>
      <td></td>
      </td>
    <% end %>
    <td>
      <% if flag_scheduled_resident_date %>
        <br>入居<br><%= l(Time.parse(@lead.scheduled_resident_date), format: :shortdate) %><br><%= arrow_mark %>
      <% end %>
      <% if flag_scheduled_payment_date %>
        <br>入金<br><%= l(Time.parse(@lead.scheduled_payment_date), format: :shortdate) %><br><%= arrow_mark %>
      <% end %>
      <% if flag_scheduled_contract_date %>
        <br>契約<br><%= l(Time.parse(@lead.scheduled_contract_date), format: :shortdate) %><br><%= arrow_mark %>
      <% end %>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>申込</td>
    <% @steps.each do |step| %>
      <td><%= link_to ">", new_lead_step_path(@lead, order_num: step.order) %></td>
      <td><%= link_to "#{step.order}", step_path(step), class: "btn #{step_button_color(step)} #{step_button_size(@step, step)}" %></td>
    <% end %>
    <td><%= link_to ">", new_lead_step_path(@lead, order_num: @lead.steps.count + 1) %></td>
    <td>完了！</td>
  </td>
</table>

<br>////////////////////////////////////////////////////////////////////////////////////////////////////////////<br>

<div>
<h1 style="display:inline;"><%= "<STEP#{@step.order}> #{@step.name}" %><%= "(#{@step.completed_tasks_rate}%)" %></h1>
  <a class="btn <%= step_button_color(@step) %> btn-lg" data-toggle="collapse" href="#collapse-step-status-edit">
    <% case @step.status %>
    <% when "not_yet" %>
      <%= "未開始" %>
    <% when "inactive" %>
      <%= "#{l(Time.parse(@step.canceled_date), format: :shortdate)}に凍結済" %>
    <% when "in_progress" %>
      <%= "進捗中" %>
      <%= "：#{l(Time.parse(@step.scheduled_complete_date), format: :shortdate)}迄" %>
      <%#= "（期限変更：上司未確認）" if @lead.notice_change_limit && @step.notice_change_limit %>
    <% when "completed" %>
      <%= "#{l(Time.parse(@step.completed_date), format: :shortdate)}に完了済" %>
    <% when "template" %>
      <%= "テンプレート" %>
    <% end %>
  </a>
  <a class="btn btn-default" data-toggle="collapse" href="#collapse-step-status-edit">
    編集▼
  </a>
</div>
<div id="collapse-step-status-edit" class="collapse">
  <div class="well">
    <h5 style="display:inline;">
      <%= @step.memo %><br>
      <% case @step.status %>
      <% when "not_yet" %>
        <%= render 'leads/step_statuses/start', step: @step, completed_id: nil, button_name: "開始" %>
      <% when "inactive" %>
        <%= render 'leads/step_statuses/start', step: @step, completed_id: nil, button_name: "再開" %>
        <%= link_to "案件自体を凍結", cancel_lead_path(@lead), class: "btn btn-danger btn-sm", method: :patch %>
      <% when "in_progress" %>
        <%= render 'leads/step_statuses/complete', completed_step: @step, button_name: "完了" %>
        <%= render 'leads/step_statuses/cancel', step: @step, button_name: "保留" %>
      <% when "completed" %>
        <%= render 'leads/step_statuses/start', step: @step, completed_id: nil, button_name: "再開" %>
      <% when "template" %>
        <button type="button" class="btn btn-info">このテンプレートを使用して新規作成</button>
      <% end %>
    </h5>
    <h5 style="display:inline;"><%= link_to '直接編集', edit_step_path(@step) %></h5>
  </div>
</div>

<%= render partial: 'leads/tasks/tasks_index' %>

<%= link_to '案件の編集', edit_lead_path(@lead) %> |
<%= link_to '案件一覧へ戻る', leads_path %>


<br>
<br>

<br>////////////////////////////////////////////////////////////////////////////////////////////////////////////<br>


ページはここまで。
<br>////////////////////////////////////////////////////////////////////////////////////////////////////////////<br>
以下はメモです。（最終プルリク上げる前に削除）

期限変更：<%= @lead.notice_change_limit %>
<br>
<%= link_to '進捗編集', edit_step_path(@step) %> |
<%= link_to '進捗一覧', lead_steps_path(@lead) %>

<div class="row">
  <div class="col-md-12 col-md-offset-1">
    <table id="table-lead-index-show">
      <thead>
        <tr>
          <th colspan="1">申込日</th>
          <th colspan="1">最後に進捗を完了した日</th>
          <th colspan="1">現在の進捗（進捗率）</th>
          <th colspan="1">入居予定日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= l(Time.parse(@lead.created_date), format: :shortdate) %></td>
          <td><%= l(Time.parse(last_update_date(@lead)), format: :shortdate) %></td>
          <td>
            <%= latest_step_in(@lead).name %>
            <%= "(#{@lead.steps_rate}%)" %>
          </td>
          <td><%= l(Time.parse(@lead.scheduled_resident_date), format: :shortdate) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= link_to '編集', edit_lead_path(@lead), class: "btn btn-primary btn-sm" if @lead.user_id == current_user.id %>


<%= "あなたの案件です。" if @lead.user_id == current_user.id %>
<%= @lead.customer_name %>様→
<%= @lead.room_name %><%= @lead.room_num %>号室
（担当：<%= link_to "#{@user.name}", user_path(@user) %>）
<p>
  <strong>入居予定日:</strong>
  <%= @lead.scheduled_resident_date %>
</p>

<p>
  <strong>入金予定日:</strong>
  <%= @lead.scheduled_payment_date %>
</p>

<p>
  <strong>契約予定日:</strong>
  <%= @lead.scheduled_contract_date %>
</p>


<%= link_to "担当者を変更する", edit_user_id_lead_path(@lead) if current_user.superior? %>


<%= link_to 'Step-index', lead_steps_path(@lead) %> |
<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>



<br>




<p>
  <strong>Lead:</strong>
  <%= @step.lead_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @step.name %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @step.memo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @step.status %>
</p>

<p>
  <strong>Order:</strong>
  <%= @step.order %>
</p>

<p>
  <strong>Scheduled complete date:</strong>
  <%= @step.scheduled_complete_date %>
</p>

<p>
  <strong>Completed date:</strong>
  <%= @step.completed_date %>
</p>

<p>
  <strong>Canceled date:</strong>
  <%= @step.canceled_date %>
</p>

<p>
  <strong>Completed tasks rate:</strong>
  <%= @step.completed_tasks_rate %>
</p>

