<%= form_with(model: [lead, step], local: true) do |form| %>
  <% if step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <% plus = step.new_record? ? 1 : 0 %>
    <%= form.number_field :order, min: 1, max: @lead.steps.count + plus %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo, size: "50x3" %>
  </div>

----------------------------------------------------------------

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Step.statuses.keys.map { |k| [I18n.t("enums.step.status.#{k}"), k]} %>
  </div>

  <%#date_selectを使うと「undefined method `day' for "":String」エラーになるため、date_fieldを使用中 %>
  <div class="field">
    <%= form.label :scheduled_complete_date %>
    <%= form.date_field :scheduled_complete_date, value: step.scheduled_complete_date %>
  </div>

  <div class="field">
    <%= form.label :completed_date %>
    <%= form.date_field :completed_date, value: step.completed_date %>
  </div>
  ↑ 完了済の進捗の場合、入力必須<br>
----------------------------------------------------------------<br>
ここで一緒にタスクを追加、編集できると良い。<br>
----------------------------------------------------------------<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
