<%= form_with(url: start_step_path(step, completed_id: completed_id, new_task: new_task, task: task), model: step, local: true) do |form| %>
  <%= form.label :scheduled_complete_date %>
  <%= form.date_field :scheduled_complete_date, value: step.scheduled_complete_date %>
  <%= form.hidden_field :new_task, value: new_task %>
  <%= fields_for task do |t| %>
    <%= render 'devise/shared/error_messages', resource: task %>

    <%= t.hidden_field :step_id, value: step.id %>

    <div class="field">
      <%= t.label :name %>
      <%= t.text_field :name %>
    </div>

    <div class="field">
      <%= t.label :memo %>
      <%= t.text_area :memo, size: "50x3" %>
    </div>

    <%= t.hidden_field :status, value: "not_yet" %>

    <div class="field">
      <%= t.label :scheduled_complete_date %>
      <%= t.date_field :scheduled_complete_date %><br>
    </div>

    <div class="field">
      <%= t.label :completed_date %>
      <%= t.date_field :completed_date %><br>
    </div>

    <div class="field">
      <%= t.label :canceled_date %>
      <%= t.date_field :canceled_date %><br>
    </div>
  <% end %>
  <%= form.submit button_name, class: "btn btn-primary" %>
<% end %>
